html, body {
    height: 100%;
    margin: 0;
    display: flex;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: row;
    gap: 20px;
}

@font-face {
    font-family: Norse;
    src: url(./Assets/Norse-Bold.otf);
}

.img-container {
    height: calc(100% - 60px);
    width: 100%;
    position: relative;
    padding: 60px 0 0 60px;
    box-sizing: border-box;
}

.img-container img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.logo-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
    gap: 20px;
}

.logo-container img {
    width: 100px;
    height: auto;
}

.logo-name {
    color: white;
    font-family: Norse, Arial, Helvetica, sans-serif;
    font-size: 80px;
}

.data-side-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 60px;
    padding-left: 60px;
}

.login-container {
    width: 70%;
}

.form-group-pair {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

p {
    font-size: 25px;
    font-weight: 600;
}

label {
    font-weight: 400;
}

#statusField {
    margin-top: 20px;
    color: darkred;
    font-family: Norse, Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
}

input:focus {
    background-color: rgb(91, 133, 170, 0.3);
}
